<!-- Modo claro / oscuro -->
<div class="fixed top-0 right-0 p-4 z-1">
  <app-mode-toggle></app-mode-toggle>
</div>

<section
  class="absolute bg-primary dark:bg-dark-primary left-1/2 transform -translate-x-1/2 w-full h-screen min-h-[520px] flex flex-col justify-center items-center text-gray-500 overflow-hidden text-center select-none">
  <img src="img/background/fondo3.svg" alt="Fondo" class="fixed top-0 left-0 w-full h-full object-cover z-0" />

  <div
    class="relative w-[400px] min-h-[350px] rounded-[12px] bg-background dark:bg-dark-background border border-border dark:border-dark-border shadow-sm max-[480px]:w-[300px] max-[480px]:h-[400px] max-[335px]:w-[250px] max-[335px]:max-h-[600px]" [ngClass]="{ 'min-h-[450px]!': isCodeSent && isPasswdSent }">
    <div
      class="absolute grid w-full h-full top-0 left-0 p-[50px] justify-center items-center align-center rounded-[12px] overflow-hidden">

      @if (isCodeSent) {
      <!-- Boton para regresar acciones -->
      <div class="absolute top-[10px] left-[10px]">
        <JButton type="button" [icon]="icons.arrowLeft" [isLoading]="loading" [disabled]="loading"
          (clicked)="backActions()" classes="secondary" />
      </div>
      }

      @if (recoveryForm) {
      <!-- Utiliza el FormGroup para encapsular los controles del formulario -->
      <form [formGroup]="recoveryForm" id="login_form"
        class="absolute flex flex-col w-[80%] left-1/2 transform -translate-x-1/2 justify-center align-center items-center">

        <div class="flex flex-col items-center pb-3">
          <a routerLink="/">
            <img src="img/logos/logo_horizontal_black.png"
              class="block dark:hidden w-[175px] select-none cursor-pointer drop-shadow-sm"
              alt="Logo">

            <img src="img/logos/logo_horizontal_white.png"
              class="hidden dark:block w-[175px] select-none cursor-pointer drop-shadow-sm"
              alt="Logo">
          </a>
        </div>

        @if (!isCodeSent) {

        <div class="flex flex-col items-center pb-3">
          <h3
            class="m-0 text-gray-800 dark:text-gray-100 text-[20px] font-[700] drop-shadow-sm">
            {{title1}}
          </h3>

          <span class="text-[14px]">Introduce tu dirección de correo eléctronico para verificar tu cuenta.</span>
        </div>

        <div class="flex flex-col items-center w-full gap-2">
          <!-- Campo de correo electrónico -->
          <JContentForm class="w-full">
            <JInput type="text" id="email_user" formControlName="email_user" placeholder="Ingrese su correo" />
            <JErrorMessage classes="text-[10px]" [control]="formControls['email_user_control']" [errorMessages]="{
              required: 'El correo es requerido.',
              pattern: 'El correo electronico no es valido.'
            }" />
          </JContentForm>

          <!-- Botón de enviar -->
          <JButton type="button" [iconSize]="25" text="Ingresar" [isLoading]="loading" [disabled]="loading" (clicked)="recoveryPasswd()"
            classes="primary w-[200px] rounded-[50px]" />
        </div>

        } @else if (isCodeSent && !isPasswdSent) {

        <div class="flex flex-col items-center pb-3">
          <h3
            class="m-0 text-gray-800 dark:text-gray-100 text-[20px] font-[700] drop-shadow-sm max-[480px]:text-[23px]">
            {{title2}}
          </h3>

          <span class="text-[14px]">Enviamos un código de verificación a su cuenta.</span>
        </div>

        <!-- Correo electronico selecionado -->
        <div class="mb-4 p-1 pl-5 pr-5 rounded-[50px] text-[14px] text-white bg-primary dark:bg-dark-primary">
          <span>{{email_user}}</span>
        </div>

        <!-- Campo de código de verificación -->
        <JContentForm class="w-full">
          <JInput type="text" id="verification_code" formControlName="verification_code"
            placeholder="Código de verificación" />
          <JErrorMessage classes="text-[10px]" [control]="formControls['verification_code_control']" [errorMessages]="{
            required: 'El código es requerido.',
            minlength: 'El código debe tener 6 dígitos.'
          }" />
        </JContentForm>

        <div class="flex justify-between items-center w-full gap-1 text-[12px] pb-2">
          <span>{{timer}}</span>
          <span onKeyPress class="flex gap-2 justify-center items-center hover:underline cursor-pointer"
            (click)="recoveryPasswd(); isRecovery = true">
            @if (isRecovery) {
            <lucide-icon [name]="icons.loading" size="12" class="animate-spin"></lucide-icon>
            }
            Reenviar código</span>
        </div>

        <!-- Botón de enviar -->
        <JButton type="button" [iconSize]="25" text="Verificar" [isLoading]="loadingVerify" [disabled]="loadingVerify"
          (clicked)="verifyCode()" classes="primary w-[200px] rounded-[50px]" />

        } @else {

        <div class="flex flex-col items-center pb-3">
          <h3
            class="m-0 text-gray-800 dark:text-gray-100 text-[20px] font-[700] drop-shadow-sm max-[480px]:text-[23px]">
            {{title3}}
          </h3>

          <span class="text-[14px]">Agrege una nueva clave de acceso a su cuenta.</span>
        </div>


        <div class="flex flex-col gap-2 w-full">
          <!-- Campo de Nueva contraseña -->
          <JContentForm class="w-full">
            <JInput [type]="isVisiblePassword ? 'text' : 'password'" id="newPassword" formControlName="newPassword" placeholder="Nueva contraseña" />
            <JErrorMessage classes="text-[10px]" [control]="formControls['newPassword_control']" [errorMessages]="{
              required: 'La nueva contraseña es requerida.',
              securePassword: 'Usa al menos 8 caracteres con mayúscula, minúscula, número y símbolo.'
            }" />
          </JContentForm>

          <!-- Campo de Confirmar Nueva contraseña -->
          <JContentForm class="w-full">
            <JInput [type]="isVisiblePassword ? 'text' : 'password'" id="confirmPassword" formControlName="confirmPassword"
              placeholder="Confirmar contraseña" />
            <JErrorMessage classes="text-[10px]" [control]="formControls['confirmPassword_control']" [errorMessages]="{
              required: 'Repita la contraseña.'
            }" />
          </JContentForm>
        </div>

        <!-- Mensaje de error si las contraseñas no coinciden -->
        <JErrorMessage classes="text-[10px]" [control]="recoveryForm" [errorMessages]="{
          passwordMismatch: 'Las contraseñas no coinciden.'
        }" />

        <!-- Campo de mostrar contraseña -->
        <label class="flex gap-2 w-full items-center text-[15px] cursor-pointer pb-2">
          <JCheckbox onKeyPress 
                id="checkbox" 
                [iconSize]="10" 
                [isChecked]="isVisiblePassword"
                (click)="togglePasswordVisibility($event)" 
                classes="w-[15px]! h-[15px]!" 
              />
          <span>Mostrar contraseña</span>
        </label>

        <!-- Botón de enviar -->
        <JButton type="button" [iconSize]="25" text="Restablecer" [isLoading]="loadingRecovery" [disabled]="loadingRecovery" (clicked)="recoveryPassword()" classes="primary w-[200px] rounded-[50px]" />

        }
      </form>
      }
    </div>
  </div>
</section>