<div class="flex flex-col justify-center bg-background dark:bg-dark-background text-black dark:text-white px-6 py-10">
  <div class="mb-10">
    <h1 class="text-3xl md:text-4xl font-bold">Panel de Control</h1>
    <p class="text-sm md:text-base text-muted-foreground mt-2">Resumen general del sistema: gestión de entidades
      activas.</p>
  </div>


  @if (!isLoading) {
  <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-6 w-full">
    @for (card of dashboardCards; track $index) {
    @if (!card.denyRole?.includes(session.role_user)) {
    <div
      class="bg-white dark:bg-foreground shadow rounded-2xl border border-border dark:border-dark-border p-6 flex justify-between items-center"
      [ngClass]="{ 'col-span-full sm:col-span-2 xl:col-span-1': card.title === 'Usuarios del sistema' }">
      <div>
        <h2 class="text-base md:text-lg font-semibold">{{ card.title }}</h2>
        <p class="text-4xl font-bold mt-2">{{ card.total }}</p>
        <p class="text-2xs mt-1 text-muted-foreground">{{card.description}}</p>
      </div>
      <div class="p-4 rounded-full" [ngClass]="'text-' + card.color + ' bg-' + card.bg">
        <lucide-icon [name]="card.icon" [size]="40" />
      </div>
    </div>
    }
    }
  </div>
  } @else {
  <div
    class="w-full flex justify-center items-center h-100 bg-white dark:bg-foreground rounded-[20px] border border-border dark:border-dark-border">
    <div class="flex flex-col gap-3 items-center justify-center py-4">
      <lucide-icon [name]="icons.loading" size="30" class="text-primary animate-spin"></lucide-icon>
      <p>Cargando datos...</p>
    </div>
  </div>
  }

</div>