@import "tailwindcss";

// ===============================================
// Importaciones
// ===============================================

@import "./assets/scss/scroll";
@import "./assets/scss/dialog";
@import "./assets/scss/input";

html, body {
  font-family: 'Arial', sans-serif;
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden; // evita desplazamiento lateral
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --color-background: #f5eff5;
  --color-foreground: #181a1b;
  --color-card: #e7e4e7;
  --color-card-foreground: #2c1f2d;
  --color-popover: #f3f2f3;
  --color-popover-foreground: #150e16;
  --color-primary: #5b3e5e;
  --color-primary-foreground: #FFFFFF;
  --color-secondary: #c4b9c5;
  --color-secondary-foreground: #000000;
  --color-muted: #d9d8da;
  --color-muted-foreground: #6f5a72;
  --color-accent: #d2d0d2;
  --color-accent-foreground: #2c1f2d;
  --color-destructive: #BF3F3F;
  --color-destructive-foreground: #f3f2f3;
  --color-border: #a28da5;
  --color-input: #a28da5;
  --color-ring: #5b3e5e;

  --color-dark-background: #15151a;
  --color-dark-foreground: #e6e4e7;
  --color-dark-card: #171118;
  --color-dark-card-foreground: #e6e4e7;
  --color-dark-popover: #090609;
  --color-dark-popover-foreground: #e6e4e7;
  --color-dark-primary: #503c53;
  --color-dark-primary-foreground: #FFFFFF;
  --color-dark-secondary: #382c3a;
  --color-dark-secondary-foreground: #FFFFFF;
  --color-dark-muted: #433b44;
  --color-dark-muted-foreground: #9d949e;
  --color-dark-accent: #433b44;
  --color-dark-accent-foreground: #e6e4e7;
  --color-dark-destructive: #BF3F3F;
  --color-dark-destructive-foreground: #e6e4e7;
  --color-dark-border: #7d6680;
  --color-dark-input: #7d6680;
  --color-dark-ring: #503c53;
  --color-radius: 0.5rem;
  --color-dark-radius: 0.5rem;
}

.dark {
  --tw-bg-opacity: 1;
  background-color: rgba(18, 18, 18, var(--tw-bg-opacity));
  color: var(--white);
}

