@import "tailwindcss";

// ===============================================
// Importaciones
// ===============================================

@import "./assets/scss/scroll";
@import "./assets/scss/dialog";
@import "./assets/scss/input";

html, body {
  font-family: 'Arial', sans-serif;
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden; // evita desplazamiento lateral
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

// * {
//   outline: 1px solid red; /* o overflow-x: hidden en body */
// }

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #f1ebf3;
  --color-foreground: #1a1719;
  --color-card: #e4dae8;
  --color-card-foreground: #282225;
  --color-popover: #f1ebf3;
  --color-popover-foreground: #2b002d;
  --color-primary: #5c3c60;
  --color-primary-foreground: #ffffff;
  --color-secondary: #e0d7e2;
  --color-secondary-foreground: #000000;
  --color-muted: #dedde8;
  --color-muted-foreground: #726772;
  --color-accent: #dedde8;
  --color-accent-foreground: #282225;
  --color-destructive: #bf4040;
  --color-destructive-foreground: #e7e3e6;
  --color-border: #c2a9cc;
  --color-input: #85668f;
  --color-ring: #5c3c60;
  --color-radius: 0.5rem;
  --color-popover: #ffffff;

  --color-dark-background: #1a1719;
  --color-dark-foreground: #e7e3e6;
  --color-dark-card: #1a1719;
  --color-dark-card-foreground: #e7e3e6;
  --color-dark-popover: #0f0d0f;
  --color-dark-popover-foreground: #e7e3e6;
  --color-dark-primary: #5c3c60;
  --color-dark-primary-foreground: #ffffff;
  --color-dark-secondary: #392e3b;
  --color-dark-secondary-foreground: #ffffff;
  --color-dark-muted: #3e3d45;
  --color-dark-muted-foreground: #b1a9b4;
  --color-dark-accent: #3e3d45;
  --color-dark-accent-foreground: #e7e3e6;
  --color-dark-destructive: #bf4040;
  --color-dark-destructive-foreground: #e7e3e6;
  --color-dark-border: #85668f;
  --color-dark-input: #85668f;
  --color-dark-ring: #5c3c60;
  --color-dark-radius: 0.5rem;
  --color-dark-popover: #1a1a24;
}


.dark {
  --tw-bg-opacity: 1;
  background-color: rgba(18, 18, 18, var(--tw-bg-opacity));
  color: var(--white);
}




