<section class="flex flex-col gap-5 pt-5 min-h-screen">

    <!-- Alertas -->
    <app-alert-dialog-example></app-alert-dialog-example>

    <!-- Toast -->
    <app-alert-toast-example></app-alert-toast-example>

    <!-- Botones -->
    <app-button-example></app-button-example>

    <!-- Selects -->
    <app-select-example></app-select-example>

    <!-- Toggle Radio -->
    <app-toggle-radio-example></app-toggle-radio-example>

    <!-- Tabla -->
    <app-table-example></app-table-example>

</section>